.myMenu {
    float: left;
    width:150px;
   
}
.friend{
	margin-top:20px;
}
.bookContent{
	margin-left:150px;
	padding-left:20px;
}
.bookBody{
	padding: 20px; 
   
	
}
.bookshelfContainer{
	margin-top:10px;
	margin-left:50px;
	margin-right:50px;
}
.bookHead{
	height:40px;
}

.bookitem{
	color:black;
}
.booklist{
	margin-top:20px;
}

#new{
	margin-top:10px;
}
#bookManager{
   margin-right:10px;
   font-size:0.1em;
}

